body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.style{
    color: orange;
}
section{
    display: flex;
    margin: 100px;
}
.sheet{
    width: 50%;
    padding-left: 10%;
}
.sheet img{
    width: 80%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
}